@using Suatra.Application.Common.Models
@model HtmlMessage

<!DOCTYPE html>
<html>
<head>
    <style>
        .parent-container {
            border: 1px solid #f93170;
            border-radius: 7px;
            padding: 10px;
            max-width: 35rem;
            background-color: #f0f0f0;
            position: absolute;
            transform: translate(-50%, -50%);
            left: 50%;
            top: 50%;
        }

        .title {
            color: #f93170;
            text-align: center;
        }

        .link-button {
            background-color: #f93170;
            color: #fff;
            text-decoration: none;
            padding: 10px 16px;
            margin: 10px;
            display: inline-block;
            font-size: large;
        }

        .footer p {
            font-size: medium;
            color: #f93170;
        }

        .link-text {
            width: 100%;
            word-wrap: break-word;
        }
    </style>
</head>
<body>
<div class="parent-container">
    <h2 class="title">@Model.Title</h2>
    <p>Hello, <strong>@($"{Model.User.FirstName} {Model.User.LastName}")</strong>. @Model.Header</p>
    <p>@Model.Message</p>
    <div>
        @if (Model.IncludeLinkButton)
        {
            <a href="@Model.Link" class="link-button">@Model.LinkText</a>

            <p>If the button doesn't work, please use the link below.</p>
            <div class="link-text"> @Model.Link </div>
        }
    </div>

    <div class="ignore">
        <p>Please ignore this message if not intended for you</p>
    </div>

    <div class="footer">
        <p>ShopMate &copy; @(DateTime.UtcNow.Year) </p>
    </div>
</div>
</body>
</html>